html,body,#root,#app,#body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#app{
overflow: hidden;
}
#app:focus{
  outline: none;
}
#buttonRestart{
  display: inline-block;
}
#score{
  display: inline-block;
}
#board{
  overflow:hidden;
  display: block;
  font-size: 0;
  background-color: black;
}
.cell{
  height: 30px;
  width: 30px;
  position: relative;
  top:0px;
  display: inline-block;
  color: none;
}
