html,body,#root,#app,#body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#app{
overflow: hidden;
}
#app:focus{
  outline: none;
}
#board{
  overflow:hidden;
  display: block;
}
.cell{
  height: 30px;
  width: 30px;
  position: relative;
  top:0px;
  display: inline-block;
  color: white;
}
